<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Assignment Form Submission</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <form method="POST" action="/api/user">
            <label for="">Name</label>
            <input type="text" name="name" id="" required><br>
            <label for="">E-Mail</label>
            <input type="email" name="E-Mail" id="" required><br>
            <label for="">Assignment Link</label>
            <input type="link" name="FileLink" id="" required><br>
            <button>Submit</button>
        </form>
    </body>

</html>